In [10]:
import pandas as pd
import numpy as np

In [31]:
tmp = pd.read_csv('../Data/H1PStars/Cepheids_MW.csv')
Cepheids_MW = pd.DataFrame()
Cepheids_MW['Gal'] = ['MW'] * len(tmp)
Cepheids_MW['logP'] = np.log10(tmp['Period'])
Cepheids_MW['mW'] = tmp['mh']
Cepheids_MW['sig_mW'] = tmp['mh_error']
Cepheids_MW['Fe/H'] = tmp['FE/H']
Cepheids_MW['z'] = 0
Cepheids_MW['V-I'] = np.nan # Don't use K-corrections !!!
Cepheids_MW['pi'] = tmp['Parallax']
Cepheids_MW['sig_pi'] = tmp['Parallax_error']
# Remove Cepheids with no metallicity measurment 
Cepheids_MW = Cepheids_MW[~np.isnan(Cepheids_MW['Fe/H'])].reset_index(drop=True)

In [32]:
#ADD to those of Riess, if commented will erase 
'''
tmp = pd.read_csv('../Data/Cepheids_MW.csv', sep=',')
Cepheids_MW = pd.concat([tmp, Cepheids_MW]).reset_index(drop=True)
'''
# Save it
Cepheids_MW.to_csv('../Data/Cepheids_MW.csv',index=False)

In [14]:
with fits.open('../data_static/Riess/Cepheids_R16.fits') as hdul:
    tmp = Table(hdul[1].data)
Cepheids = pd.DataFrame()
Cepheids['Gal'] = tmp['Gal']
Cepheids['logP'] = np.log10(tmp['Per'])
Cepheids['mW'] = tmp['F160W'] - 2 * tmp['V-I']
Cepheids['sig_mW'] = tmp['sigTot']
Cepheids['Fe/H'] = tmp['[O/H]']-3
Cepheids

WARNING: VerifyWarning: It is strongly recommended that column names contain only upper and lower-case ASCII letters, digits, or underscores for maximum compatibility with other software (got '[O/H]'). [astropy.io.fits.column]

        Gal      logP     mW  sig_mW   Fe/H
0     M101   1.254064  20.55    0.30  6.134
1     M101   0.729003  22.29    0.57  6.118
2     M101   1.074085  20.80    0.32  6.113
3     M101   1.173769  20.77    0.32  6.105
4     M101   1.074085  21.22    0.45  6.136
...     ...       ...    ...     ...    ...
1481  M31    1.633973  13.26    0.15  5.900
1482  M31    1.640879  13.97    0.15  5.900
1483  M31    1.685294  12.46    0.15  5.900
1484  M31    1.750045  12.89    0.15  5.900
1485  M31    1.892095  12.41    0.15  5.900

[1486 rows x 5 columns]

In [17]:
import pickle

In [20]:
x = open('../work_dir/name/q_dict.pickle','rb')
pickle.load(x)
x.close()